<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
	src="https://www.googletagmanager.com/gtag/js?id=G-GNJJMF8KL8"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GNJJMF8KL8');
    </script>
<meta charset="utf-8">
<title>Sidebar Dashboard Template</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>


	<div th:fragment="navbar">

		<input type="checkbox" id="check">

		<!--header area start-->

		<nav class="navbar navbar-expand-lg navbar-dark sticky-top"
			style="background-color: #07a46f;" >
			<div class="container-fluid d-flex align-items-center">

				   <img
					th:src="@{/img/logo.png}" alt="" width="60" height="60"> <a
					class="navbar-brand d-flex align-items-center"
					style="margin-left: 20px;" href="#"> Nutrisan </a>


				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-flex align-items-center"
					id="navbarNavDropdown">
					<ul class="navbar-nav ms-auto flex-nowrap"
						style="margin-right: 400px;">
						<li class="nav-item" style="margin-left: 30px;"><a
							class="nav-link active" aria-current="page" href="#">Home</a></li>
						<li class="nav-item" style="margin-left: 30px;"><a
							class="nav-link" href="#">News</a></li>

						

						
						<li class="nav-item dropdown" style="margin-left: 30px;"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Help </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">Report a problem</a></li>
								<li><a class="dropdown-item" href="#">FAQ</a></li>
							</ul></li>
						
							
					
					</ul>
					<label for="check"> 
								<i class="fas fa-user-circle fa-2x" id="sidebar_btn"></i>
					</label>
				</div>
			</div>
		</nav>
	
		<!--header area end-->
		<!--sidebar start-->

		<div class="sidebar">
			<center>
				<img th:src="@{/img/prota.jpg}" class="profile_image" alt="">
				<h4>TakemichiGOD</h4>
			</center>


			<a href="#"><i class="fas fa-desktop"></i><span>My account</span></a>
			<a href="#"><i class="fas fa-cogs"></i><span>Book an appointment</span></a>
			<a href="#"><i class="fas fa-table"></i><span>My appointments</span></a>
			<a href="#"><i class="fas fa-th"></i><span>Choose a plan</span></a>  
			<a href="#"><i class="fas fa-th"></i><span>Change account</span></a>  
			<a href="#"><i class="fas fa-sliders-h"></i><span>Log out</span></a>
		</div>
		

		<div class="content">
			<div class="izquierda">
				<div class="iarriba">
					<img alt="" th:src="@{/img/logo.png}">
				</div>
				<div class="iabajo">Nutrisan</div>
			</div>
			
			<div class="derecha">
				<div class="darriba">
					<div class ="com">"</div> 
						We offer you customized nutritional help analazing corporal composition, life style, needs, in order to get the best treatment
					
					<div class ="com">"</div> 
					</div>
				<div class="dabajo">
					<button type="button" class="btn btn-success"
					style="background-color: #756969 ">Consult a nutritionist</button>
				</div>
			</div>
		</div>

	</div>

</body>
</html>