<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
	src="https://www.googletagmanager.com/gtag/js?id=G-GNJJMF8KL8"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GNJJMF8KL8');
    </script>
<meta charset="utf-8">
<title>Sidebar Dashboard Template</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
	
<link rel="stylesheet" th:href="@{/css/style.css}">

<link th:href="@{/css/StylePacientAppointments.css}"rel="stylesheet">
	
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>
</head>

<body>
	
	<input type="checkbox" id="check">

		<!--header area start-->

		<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
			style="background-color: #07a46f;" >
			<div class="container-fluid d-flex align-items-center">

				   <img
					th:src="@{/img/logo.png}" alt="" width="60" height="60"> <a
					class="navbar-brand d-flex align-items-center"
					style="margin-left: 20px;" href="#"> Nutrisan </a>


				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-flex align-items-center"
					id="navbarNavDropdown">
					<ul class="navbar-nav ms-auto flex-nowrap"
						style="margin-right: 400px;">
						<li class="nav-item" style="margin-left: 30px;"><a
							class="nav-link active" aria-current="page" th:href="@{/inicio}">Home</a></li>
						<li class="nav-item" style="margin-left: 30px;"><a
							class="nav-link" href="#">News</a></li>

						

						
						<li class="nav-item dropdown" style="margin-left: 30px;"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Help </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">Report a problem</a></li>
								<li><a class="dropdown-item" href="#">FAQ</a></li>
							</ul></li>
						
							
					
					</ul>
					<label for="check"> 
								<i class="fas fa-user-circle fa-2x" id="sidebar_btn"></i>
					</label>
				</div>
			</div>
		</nav>
		<br>
		<br>
		<br>
	
		<!--header area end-->
		<!--sidebar start-->

		<div class="sidebar">
			<center>
				<img th:src="@{/img/prota.jpg}" class="profile_image" alt="">
				<h4>TakemichiGOD</h4>
			</center>


			<a th:href="@{'/inicio' + '/myaccount'}"><i class="fas fa-desktop"></i><span>My account</span></a>
			<a href="#"><i class="fas fa-cogs"></i><span>Book an appointment</span></a>
			<a href="#"><i class="fas fa-table"></i><span>My appointments</span></a>
			<a href="#"><i class="fas fa-th"></i><span>Choose a plan</span></a>  
			<a href="#"><i class="fas fa-th"></i><span>Change account</span></a>  
			<a href="#"><i class="fas fa-sliders-h"></i><span>Log out</span></a>
		</div>
		

		<div class="content">
			<div class="Title">
				<div class="Title-icon">
					<i class="far fa-calendar-check fa-2x"></i>
				</div>
				<div class="Title-text">
					<h3>My appointments</h3>
				</div>
			</div>
			
			
			<div class="Cards">
				<div th:each="cita: ${citas}" class="card">
					<div th:text="' Cita '+${cita.cita_id}" class="card-header">
					</div>
					<div class="card-body">
					    <h5 th:text="${cita.asunto}" class="card-title"></h5>
					   	<ul>
					   		<li th:text="' Nutricionist DNI: '+${cita.horario.nutricionista.dni}"></li>
					   		<li th:text="' Nutricionist Name: '+${cita.horario.nutricionista.nombre}+' '+${cita.horario.nutricionista.apellido}"></li>
					   		<li th:text="' Appointment Date: '+${cita.fecha}"></li>
					   	</ul>					 
					    <a th:href="@{'/inicio/'+ ${cita.cita_id} +'/appointmentDetail'}"><i class="fas fa-arrow-alt-circle-right fa-2x" id="ver"></i></a>
					</div>
				</div>
			</div>

		</div>
	
</body>

</html>