<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
	src="https://www.googletagmanager.com/gtag/js?id=G-GNJJMF8KL8"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GNJJMF8KL8');
</script>
<meta charset="utf-8">
<title>Details</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link th:href="@{/css/StylePacientAppointmentDetail.css}"rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>	
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script th:inline="javascript">

/*<![CDATA[*/

	window.html2canvas=html2canvas;
	window.jsPDF=window.jspdf.jsPDF;

	function makePDF(){

		html2canvas(document.querySelector("#capture"),{
				
				allowTaint:true,
				useCORS:true,
				scale:1 
				
			}).then(canvas => {
		    document.body.appendChild(canvas)
		    var img = canvas.toDataURL("image/png");
			var doc = new jsPDF();
			doc.setFont('Arial');
			doc.getFontSize(50);
			doc.addImage(img,'PNG',20,2,165,300);
			doc.save("AppointmentSummary");
		});
		

	}

/*]]>*/


</script>


</head>

<body>
	
	<input type="checkbox" id="check">

		<!--header area start-->

		<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
			style="background-color: #07a46f;" >
			<div class="container-fluid d-flex align-items-center">

				   <img
					th:src="@{/img/logo.png}" alt="" width="60" height="60"> <a
					class="navbar-brand d-flex align-items-center"
					style="margin-left: 20px;" href="#"> Nutrisan </a>


				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-flex align-items-center"
					id="navbarNavDropdown">
					<ul class="navbar-nav ms-auto flex-nowrap"
						style="margin-right: 400px;">
						<li class="nav-item" style="margin-left: 30px;"><a
							class="nav-link active" aria-current="page" th:href="@{/inicio}">Home</a></li>
						<li class="nav-item" style="margin-left: 30px;"><a
							class="nav-link" href="#">News</a></li>

										
						<li class="nav-item dropdown" style="margin-left: 30px;"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Help </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">Report a problem</a></li>
								<li><a class="dropdown-item" href="#">FAQ</a></li>
							</ul></li>
						
							
					
					</ul>
					<label for="check"> 
								<i class="fas fa-user-circle fa-2x" id="sidebar_btn"></i>
					</label>
				</div>
			</div>
		</nav>
	
		<br>
		<br>
		<br>
	
		<!--header area end-->
		<!--sidebar start-->

		<div class="sidebar">
			<center>
				<img th:src="@{/img/prota.jpg}" class="profile_image" alt="" style="margin-left: 10px;">
				<h4 th:text="${paciente.username}"></h4>
			</center>


			<a th:href="@{'/inicio' + '/myaccount/'+${paciente.dni}}"><i class="fas fa-table"></i><span>My account</span></a>
			<a th:href="@{'/inicio/' + ${paciente.dni} + '/list'}"><i class="fas fa-cogs"></i><span>Book an appointment</span></a>
			<a th:href="@{'/inicio' + '/myappointments/'+${paciente.dni}}"><i class="fas fa-table"></i><span>My appointments</span></a>
			<a th:href="@{/login}"><i class="fas fa-sliders-h"></i><span>Log out</span></a>
		</div>
		

	

		<div class="content" id="capture">
			
			<div class="Titleandbutton">
				<div th:text="'Appointment '+${citas.cita_id}" class="Title"></div>
				<button onclick="makePDF()" style="border-width: 0px;background-color: white;color:grey;"><i class="fas fa-file-pdf fa-2x"></i></button>
			</div>	
			<div class="Title-info">
				<div th:text="${citas.asunto}" class="Title-info-asunto"></div>
				<div class="linktext">Appointment link: <a th:href="${citas.link}" th:text="${citas.link}" class="Title-info-link"></a>
				</div>
			
				
			</div>
			
			<p class="border"></p>
			
			<div class="Nutricionist">
				<div class="NutricionistDetail">
					<div class="NutricionistTitle"> Nutricionist: </div>
					<div class="NutricionistInfo">		
						<ul>
								<li th:text="'DNI: '+${citas.horario.nutricionista.dni}"></li>
								<li th:text="'Name: '+${citas.horario.nutricionista.nombre}+' '+${citas.horario.nutricionista.apellido}"></li>
								<li th:text="'Apointment date: '+${citas.fecha}"></li>
						</ul>	
					</div>
				</div>
				<div class="NutricionistCalification">
				
				<img th:src="@{/img/nutricionista.jpg}" class="profile_image" alt="">
				
				<div th:text="'Score: '+${citas.puntuacion}"></div>
				
			

				<div class="container d-flex">
					    <div class="row">
					        
					            <div class="stars">
					                <form th:object="${citasmodificar}" th:action="@{/inicio/save/}+${citas.cita_id}", method="post"> 
					                	
					                	<input class="star star-5" id="star-5" type="radio" name="star" th:field="*{puntuacion}" value="5"/> <label class="star star-5" for="star-5"></label> 
                                        <input class="star star-4" id="star-4" type="radio" name="star" th:field="*{puntuacion}" value="4"/> <label class="star star-4" for="star-4"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="star" th:field="*{puntuacion}" value="3"/> <label class="star star-3" for="star-3"></label> 
                                        <input class="star star-2" id="star-2" type="radio" name="star" th:field="*{puntuacion}" value="2"/> <label class="star star-2" for="star-2"></label> 
                                        <input class="star star-1" id="star-1" type="radio" name="star" th:field="*{puntuacion}" value="1"/> <label class="star star-1" for="star-1"></label>
					                	      
						           
						                <button type="submit" class="btn btn-primary" id="buttonscore">Submit</button>
					                </form>
					            </div>
					        
					    </div>
				</div>
				 
				
			
				
				
				</div>
				
			</div>
			
			<p class="border"></p>
			
			<div class="RecommendationTitle">Recommendations: </div>
			<div class="RecommendationInfo" th:text="${citas.recomendacion}"></div>
			
			<p class="border"></p>
			
			<div class="AttachedFilesTitle">Attached files:</div>
			
			<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
			  <div class="carousel-indicators">
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>
			  <div class="carousel-inner">
			    <div class="carousel-item active" data-bs-interval="10000">
			      <img th:src="@{/img/multifrutas.jpg}" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>First recommendation</h5>			      
			      </div>
			    </div>
			    <div class="carousel-item" data-bs-interval="2000">
			      <img th:src="@{/img/ejercicio.jpg}" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>Second recommendation</h5>			      
			      </div>
			    </div>
			    <div class="carousel-item">
			      <img th:src="@{/img/dormir.jpg}" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>Third recommendation</h5>
			      </div>
			    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>
			
			<!-- PRUEBA -->
			<p class="border"></p>

			<div class="container mt-5">
			    <div class="row d-flex justify-content-center">
			        <div class="col-md-8">
			            <div class="headings d-flex justify-content-between align-items-center mb-3">
			                <h5>Comentarios</h5>
			                
			                      
			                <div class="buttons"> <span class="badge bg-white d-flex flex-row align-items-center"> <span class="text-primary">Comments "ON"</span>
			                <div class="form-check form-switch"> <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>
			                    </span> </div>
			                 
			            </div>
			            
					     <form class="form_comentarios d-flex flex-wrap" id="formulariocomentario" th:object="${nuevocomentario}" th:action="@{/inicio/savecomentario/}+${citas.cita_id}", method="post">
					     <textarea rows="" cols="", placeholder="   Inserte un comentario" th:field="*{texto}"></textarea>
					     <button class="btn-primary" type="submit">Comentar</button>
					     </form>
		           
			      
			            <div th:each="comentario:${comentarios}" class="card p-3 mt-2" id="comentarios" style="border-width: 1px;border-color: #707070;border-style: solid; margin-bottom: 20px;">
			                <div class="d-flex justify-content-between align-items-center" >
			                    <div class="user d-flex flex-row align-items-center"> <i class="far fa-user-circle fa-2x" style="margin-right: 30px;"></i><span><small th:text="${comentario.paciente.nombre}" class="font-weight-bold text-primary" style="margin-right: 20px;"></small> <small th:text="${comentario.texto}" class="font-weight-bold"></small></span> </div>
			                </div>	        
			            </div>
			      

			        </div>
			    </div>
			</div>
			<br>
			<br>
			<br>
			<br>
			
			
		</div>
	
	
</body>

</html>